<p id="notice"><%= notice %></p>

<p>
  <b>Competition:</b>
  <%= @event.competition_id %>
</p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Is male:</b>
  <%= @event.is_male %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
